
@import "oj/utilities/_oj.utilities.modules.scss";

// You may import variables from JET like so:
// @import "oj/core/themes/redwood/common/_oj-core.cssvars.scss";
// @import "oj/core/themes/redwood/common/_oj-palette.cssvars.scss";

// import the css common to all themes
@import "../base/_@full-component-name@.scss";

// Even if this file is imported many times 'module-include-once' ensures the content is included just once .
@include module-include-once("@full-component-name@.redwood") {
:root {
  
  // set your variables inside of :root, an example:
  //  --@full-component-name@-value-text-color: var(--oj-palette-red-140);

}
} 
