
@import "oj/utilities/_oj.utilities.modules.scss";

// This file is where css selectors shared by all themes go.
// There will be hard code properties and properties controlled by variables, for example
//
// @full-component-name@ .@full-component-name@-value-text {
// color: var(--@full-component-name@-value-text-color);
// display: inline-block;
// }

// Even if this file is imported many times 'module-include-once' ensures the content is included just once .
@include module-include-once("@full-component-name@.base") {
  @full-component-name@:not(.oj-complete){
    visibility: hidden;
  }
  
  @full-component-name@{
  	min-height: 50px;
  	width: 50px;
  }
}