
// Note that the order in the aggregating file is important
//
// 1. custom variables file: Due to the way sass default works, 
//    the custom variable file must be imported before the platform theme 
//    aggregating file (where the platform variable file will be imported).
// 2. platform theme aggregating file

//import custom variable overrides
@import "<%= themename %>.ios.settings";

// import alta-ios aggregating file
@import "../../../../node_modules/@oracle/oraclejet/dist/scss/alta-ios/oj-alta";
